#main {
    text-align: center;
}

#img-div {
    margin: 20px 0;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto; /* Center the image */
}

#img-caption {
    margin-top: 10px;
}

#tribute-info {
    margin: 20px 0;
}

#tribute-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}